    <footer class="footer-area">
    	<div class="footer-top section-padding">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12 col-md-3">
    					<div class="footer-text">
    						<h4 class="upper">Classic</h4>
    						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
    						<div class="social-menu">
    							<a href="#"><i class="icofont icofont-social-facebook"></i></a>
    							<a href="#"><i class="icofont icofont-social-twitter"></i></a>
    							<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
    							<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
    						</div>
    					</div>
    				</div>
    				<div class="col-xs-6 col-md-2 col-md-offset-1">
    					<div class="footer-single">
    						<h4 class="upper">News</h4>
    						<ul>
    							<li><a href="#">Subsciption</a></li>
    							<li><a href="#">New Apps</a></li>
    							<li><a href="#">Download now</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-xs-6 col-md-2">
    					<div class="footer-single">
    						<h4 class="upper">Company</h4>
    						<ul>
    							<li><a href="#">Screenshot</a></li>
    							<li><a href="#">Fetures</a></li>
    							<li><a href="#">Price</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-xs-6 col-md-2">
    					<div class="footer-single">
    						<h4 class="upper">Resources</h4>
    						<ul>
    							<li><a href="#">Support</a></li>
    							<li><a href="#">Contact</a></li>
    							<li><a href="#">Privacy &amp; Term</a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-xs-6 col-md-2">
    					<div class="footer-single">
    						<h4 class="upper">Solutions</h4>
    						<ul>
    							<li><a href="#">Bug Fixing</a></li>
    							<li><a href="#">Upgrade</a></li>
    							<li><a href="#">Malware Protect</a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="footer-bottom">
    		<div class="container">
    			<div class="row">
    				<div class="col-xs-12">
    					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    					<p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icofont icofont-heart-alt" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
    					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    				</div>
    			</div>
    		</div>
    	</div>
    </footer>