<div class="row">
	<div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
		<!-- Mixitup controls -->
		<ul class="filter-controls text-center">
			<li class={{#if see}}{{see}}{{/if}}><a href="/service/see">Xem danh sách sinh viên &nbsp;<i class="fa fa-spinner fa-spin" style="font-size:16px"></i></a></li>
			<li class={{#if input}}{{input}}{{/if}}><a href="/service/add">Nhập môn học & điểm &nbsp;<i class="fa fa-spinner fa-spin" style="font-size:16px"></i></a></li>
			<li class={{#if find}}{{find}}{{/if}}><a href="/service/find">Tìm kiếm sinh viên &nbsp;<i class="icofont icofont-search-alt-2"></i></a></li>
		</ul>
	</div>
</div>