  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
  	<ul class="nav nav-pills nav-stacked" id="affix2" data-spy="affix" data-offset-top="205">
  		<li class="padding_me"><a  href="/service/see" class="btn btn-success">Xem danh sách sinh viên&nbsp;<i class="fa fa-spinner fa-spin" style="font-size:16px"></i></a></li>
  		<li  class="padding_me"><a href="/service/add" class="btn btn-warning">Nhập môn học và điểm&nbsp;<i class="fa fa-spinner fa-spin" style="font-size:16px"></i></a></li>
  		<li  class="padding_me"><a href="/service/find" class="btn btn-danger">Tìm kiếm sinh viên &nbsp;<i class="icofont icofont-search-alt-2"></i></a></li>
  	</ul>
  </div>