    <section class="section-padding" id="portfolio-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="page-title text-center">
                        <h2 class="title">Portfolio Project</h2>
                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- Mixitup controls -->
                    <ul class="filter-controls text-center">
                        <li class="active filter" data-filter="all">All</li>
                        <li class="active filter" data-filter=".graphics">Graphics</li>
                        <li class="filter" data-filter=".ux_ui">UI/UX</li>
                        <li class="filter" data-filter=".web_design">Web Design</li>
                        <li class="filter" data-filter=".coding">Coding</li>
                        <li class="filter" data-filter=".developing">Developing</li>
                        <li class="filter" data-filter=".photography">Photography</li>
                    </ul>
                </div>
            </div>
            <div class="row" id="filtering">
                <div class="col-xs-6 col-sm-4 col-md-3 mix graphics developing">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-1.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Print Template</h5>
                            <a href="/images/work-1.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui ">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-2.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Graphics Template</h5>
                            <a href="/images/work-2.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix graphics ">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-3.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Web Template</h5>
                            <a href="/images/work-3.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui developing">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-4.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Developing</h5>
                            <a href="/images/work-4.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix web_design photography">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="images/work-5.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Photography</h5>
                            <a href="/images/work-5.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix coding">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-6.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Coding</h5>
                            <a href="/images/work-6.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix web_design developing">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-7.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Web Desing</h5>
                            <a href="/images/work-7.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 mix coding photography">
                    <div class="filter-box">
                        <div class="filter-image">
                            <img src="/images/work-8.jpg" alt="">
                        </div>
                        <div class="filter-hover">
                            <h5>Coding</h5>
                            <a href="/images/work-8.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>