<div id="signupbox" class="mainbox">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Đăng ký</div>
			<div style="float:right; font-size: 85%; position: relative; top:-34px"><a id="signinlink" class="btn btn-success" href="/login" role="button">Đăng nhập</a></div>
		</div>  
		<div class="panel-body" >
			<form id="signupform" action="/register" class="form-horizontal" role="form" method="POST" >
				{{#if user}}
					<div class="alert alert-danger">Username đã tồn tại</div> 
				{{/if}}
				{{#if mail}}
					<div class="alert alert-danger">Email đã tồn tại</div> 
				{{/if}} 
				{{#if data}}
					{{#each data}}
						<div class="alert alert-danger size-small">
							<p>*{{this.msg}}</p>					
						</div>
					{{/each}}
				{{/if}}

				<div class="form-group">
					<label for="email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<input type="email" class="form-control" name="email" placeholder="Email Address">
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="col-md-3 control-label">Username</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
				</div>

				<div class="form-group">
					<label for="confirm_password" class="col-md-3 control-label">Confirm Password</label>
					<div class="col-md-9">
						<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
					</div>
				</div>

				<div class="form-group">
					<!-- Button -->                                        
					<div class="col-md-offset-3 col-md-3">
						<button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>&nbspĐăng ký</button> 
					</div>

					<div class="col-xs-3 col-sm-3 col-md-3">
						<button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Đăng ký với Facebook</button>
					</div>  
				</div>

				<div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

				</div>



			</form>
		</div>
	</div>
</div>
