<section class="section-padding" id="team-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h2 class="title">Our expert team</h2>
                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="/images/team-1.jpg" alt="">
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Roberto Peo</h5>
                            <span class="t_sub_title">SEO Expert</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Indesign" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image">
                            <img src="/images/team-2.jpg" alt="">
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Jhon Doe</h5>
                            <span class="t_sub_title">Web Developer</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Indesign" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-image">
                            <img src="/images/team-3.jpg" alt="">
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Jakia Khan</h5>
                            <span class="t_sub_title">UI/UX Designer</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Indesign" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="/images/team-4.jpg" alt="">
                        </div>
                        <div class="team-hover">
                            <h5 class="t_title">Jack kalis</h5>
                            <span class="t_sub_title">Programer</span>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Indesign" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class='bar_group' data-max="100">
                                <div class=" bar_group__bar thick elastic" data-value="50" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                            </div>
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>