    <section id="portfolio-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="page-title text-center">
                        <h2 class="title">Chào {{data.username}}</h2>
                        <p>Phần mềm quản lý sinh viên </p>
                    </div>
                </div>
            </div>
                {{>nav-service}}
            <div class="row">
              {{>nav-left}}
            </div>
           
              
            
    </div>
</section>