<!-- icofont-idea,icofont-code-alt,icofont-monitor,icofont-money-bag,icofont-files.icofont-chart-bar-graph -->
<section class="section-padding" id="service-area">
	<div class="container">
		<div class="row">
			{{#each classes}}
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
					<div class="box-icon">
					<i class="icofont icofont-idea"></i>
					</div>
					<h4>{{title}}</h4>
					<p>{{descript}}</p>
					<p>Instruction: {{instructor}}</p>
					<a href="/classes/{{_id}}/detail" class="read-more">Read More</a>
				</div>
			</div>
			{{/each}}            
		</div>
	</div>
</section>